.titlecontainer {
  padding: 20px;
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px;
}
.left {
  width: 40%;
  line-height: 20px;
}
.middle {
  border-radius: 100%;
  padding: 15px;
  width: 22%;
  height: 12em;
  border-color: 1px yellowgreen;
}
.right {
  width: 35%;
}

ul {
  list-style: none;
  text-align: right;
  line-height: 36px;
}
